<style>
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
</style>



<main class="main">
  <div class="content">
    <h1>Arcana Tarot</h1>
    <h3>Consulte as cartas e descubra os mistérios do seu caminho...</h3>
    <form class="main-form" (submit)="$event.preventDefault()">
      <textarea #perguntaEl placeholder="Faça sua pergunta..." id="pergunta" name="pergunta" rows="9" cols="70"
        (input)="verificarPergunta($event)" (input)="autoResize($event)"></textarea>
      <app-main-button [descBotao]="'Revelar as cartas'" [disabled]="botaoDesativado" (clicked)="revelarCartas(perguntaEl.value)">
      </app-main-button>
    </form>
  </div>
  <p *ngIf="carregando">Consultando o tarot...</p>

    <!-- erro -->
    <p *ngIf="erro" style="color: #ff6b6b;">
      {{ erro }}
    </p>

    <!-- resposta -->
    <div *ngIf="resposta">
      <h3>Resposta do oráculo:</h3>
      <p>{{ resposta }}</p>
    </div>
</main>

<footer>Feito por <a href="www.github.com/izahonorato">izahonorato</a></footer>

<router-outlet />