.main-button{
    align-items: center;
    background-color: rgb(255, 210, 77);
    font-family: Cinzel, serif;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: large;
    box-shadow:
    0 0 14px rgba(255, 210, 77, 0.2),
    0 0 50px rgba(255, 210, 77, 0.18),
    0 0 70px rgba(255, 210, 77, 0.1);
}