/* RESET TOTAL DOS ESTILOS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    height: 100%;
    background-color: hsl(225 30% 12%);
}

body {
    height: 100%;
    /*background-color: rgb(36, 43, 66);*/
    line-height: 1;
}
